.conditions {
  width: 100%;
  min-height: 76vh;
  padding: 44px 96px 24px 96px;
  background-color: #ffffff;
  color: #00373E;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.conditions-content {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.conditions-content h1 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.conditions-content p {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 2rem;
  max-width: 650px;
}

.condition-header{
  display: flex;
  justify-content: space-between;
}

.condition-cards ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.condition-cards li {
  font-size: 1rem;
  margin-bottom: 32px;
  text-align: left;
}
.condition-cards li img {
  width: 16px;
  height: 16px;
}
.info-text {
  margin-top: 8px;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 10px 14px;
  border-radius: 8px;
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-5px); }
  to { opacity: 1; transform: translateY(0); }
}

.info-btn {
  background: none;
  border: none;
  cursor: pointer;
  transition: transform 0.2s ease;
  color: #98A2B3;
}

.info-btn:hover {
  transform: scale(1.1);
}


/* Button styling */
.consultation-btn {
  background-color: #006D77;
  color: white;
  font-size: 1rem;
  padding: 0.9rem 2rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 2rem;
  transition: background-color 0.3s ease;
}

.consultation-btn a {
  color: #fff;
  text-decoration: none;
}

.consultation-btn:hover {
  background-color: #005f63;
}

/* Responsive */
@media (max-width: 768px) {
  .conditions {
    padding: 24px;
  }

  .conditions-content h1 {
    font-size: 1.8rem;
  }

  .conditions-content p {
    font-size: 0.95rem;
  }
}
